:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  color: #222;
  background: #fff;
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
}

/* Intro section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.intro-left {
  font-size: 2rem;
  font-variation-settings: "wght" 400;
  line-height: 1.2;
  color: black;
}

.fadetext {
  color: #8F7B7B;
}

.intro-right {
  max-width: 510px;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* Tiles */
.tiles {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.tile {
  flex: 1;
  min-width: 120px;
  height: 240px;
  border: 2px solid #8F7B7B;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.3s ease;
}

.tile:hover {
  background: #fff;
  transform: translateY(-5px);
}  


/* Subpage styles */
.subpage {
  margin-top: 6rem;
  flex: 1;
}

.subpage-title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #8F7B7B;
  margin-bottom: 2rem;
}

.subpage-list {
  padding-left: 7rem;
  font-size: 1.2rem;
  line-height: 2;
}

.subpage-list li a {
  text-decoration: none;
  color: #222;
  transition: color 0.2s ease;
}

.subpage-list li a:hover {
  color: #8F7B7B;
}

/* Footer layout */
.subpage-footer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 2rem 0;
  z-index: 1000;
  max-width: 1100px;
}

.footer-tile {
  border: 2px solid #8F7B7B;
  border-radius: 16px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition: all 0.3s ease;
  background: #fff;
}

.home-tile {
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
}

.footer-tile:not(.home-tile) {
  min-width: 80px;
  height: 80px;
}

/* Hover effect */
.footer-tile:hover {
  transform: translateY(-4px);
  
}

/* Active/current page tile */
.footer-tile.active {
  background: #BDB2B2;
  border: #BDB2B2;
  color: #fff;
  pointer-events: none;
}