:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  color: #222;
  background: #fff;
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
}

::selection {
  background: rgb(246, 205, 20);
  color: white;
}

/* Intro section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.intro-left {
  font-size: 2rem;
  font-variation-settings: "wght" 400;
  line-height: 1.2;
  color: black;
}

.fadetext {
  color: #8F7B7B;
}

.intro-right {
  max-width: 510px;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* Tiles */
.tiles {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.tile {
  flex: 1;
  min-width: 120px;
  height: 240px;
  border: 2px solid #8F7B7B;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.3s ease;
}

.tile:hover {
  background: #fff;
  transform: translateY(-5px);
}  


/* Subpage styles */
.subpage {
  margin-top: 6rem;
  margin-bottom: 6rem;
  flex: 1;
}

.subpage-title {
  font-size: 4rem;
  font-weight: 400;
  color: #8F7B7B;
  margin-bottom: 1rem;
}

.subpage-list {
  padding-left: 7rem;
  font-size: 1.2rem;
  line-height: 2;
}

.subpage-list li a {
  text-decoration: none;
  color: #222;
  transition: color 0.2s ease;
}

.subpage-list li a:hover {
  color: #8F7B7B;
}

.subpage-body {
  display: flex;
  max-width: 1000px;
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  line-height: 1.6;
  padding-left: 50px;
  padding-right: 50px;
}

.subpage-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
}

.subpage-column h2 {
  font-size: 2rem;
  color: #8F7B7B;
  font-weight: 400;
  margin-bottom: 1rem;
}

.subpage-column {
  list-style-type: disc;
  padding-left: 1.5rem;
  line-height: 2;
  font-size: 1.2rem;
}

.subpage-column li a {
  text-decoration: none;
  color: #222;
  transition: color 0.2s ease;
}

.subpage-column li a:hover {
  color: #8F7B7B;
}

.subpage-about {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  margin-top: 2rem;
  max-width: 900px;
}

.subpage-image {
  width: 400px;
  height: auto;
  border-radius: 16px;

}

.subpage-about-text {
  flex: 1;
}

.subpage-right {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 1.5rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: left;
}

.social-links a:hover svg {
  transform: scale(1.2);
  transition: transform 0.2s ease
}


/* Footer layout */
.subpage-footer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  background: linear-gradient(to top, #fff 90%, rgba(255, 255, 255, 0));
  padding: 2rem 0;
  z-index: 1000;
  max-width: 1100px;
}

.footer-tile {
  border: 2px solid #8F7B7B;
  border-radius: 16px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition: all 0.3s ease;
  background: #fff;
}

.home-tile {
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
}

.footer-tile:not(.home-tile) {
  min-width: 80px;
  height: 80px;
}

/* Hover effect */
.footer-tile:hover {
  transform: translateY(-4px);
  
}

/* Active/current page tile */
.footer-tile.active {
  background: #BDB2B2;
  border: #BDB2B2;
  color: #fff;
  pointer-events: none;
}
